<header class="header--transparent">
  <div class="container header__container d-flex align-items-center">
    <nav class="navbar navbar-expand-sm navbar-light header__navbar" id="nav-bar" >
      <div>
        <a class="navbar-brand" href="/"><img src="images/logo2_sm.png" width="204" height="56" class="d-inline-block align-top" alt=""></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</header>