.hero {
  background-size: cover;
  background-repeat: none;
  background-position: top;
  min-height: calc(85vh - 90px);
  padding: 5rem 0;
  background-image: url("images/tamarcus-brown-29pFbI_D1Sc-unsplash.jpg");
}

.hero__jumbo {
  background-color: rgba(55, 55, 55, 0.9);
  color: white;
}

.hero__btn {
  width: 100%;
}