<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% if (locals.customCss) { %><link rel="stylesheet" href="<%= customCss %>"><% } %>
  </head>
  <body>
      <%- include('../partials/' + (locals.header ? header : 'header')) %>
      <main>
        <div class="container-fluid hero">
          <div class="container">
            <div class="jumbotron col-md-10 col-lg-7 hero__jumbo">
              <h1 class="display-4">We submit your resume to up to 500 employers.</h1>
              <p class="lead">The best part is you get to name your own price for the service. You decide what you pay us. Your dream job awaits you.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg hero__btn" href="#" role="button">Call <%= phoneNumber %> to get started.</a>
              </p>
            </div>
          </div>
        </div>
      </main>
      <%- include('../partials/' + (locals.footer ? footer : 'footer')) %>
  </body>
</html>